@using Library.Models
@using Library.Areas.Admin.Models
@model IList<CategoryViewModel>
@{
    ViewData["Title"] = "Quản lý danh mục sách";
    var currentPage = ViewBag.CurrentPage;
    var currentPageSize = ViewBag.CurrentPageSize;
    var totalPage = ViewBag.TotalPage;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="breadcrumb-main user-member justify-content-sm-between ">
                <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                    <div class="d-flex align-items-center user-member__title justify-content-center me-sm-25">
                        <h4 class="fw-500 breadcrumb-title">Quản lý danh mục sách</h4>
                    </div>
                </div>
                <div class="action-btn d-flex gap-4">
                    <a class="btn px-15 btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#create-new-category">
                        <i class="las la-plus fs-16"></i>Thêm danh mục
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="userDatatable global-shadow border-light-0 p-30 bg-white radius-xl w-100 mb-30">
                <div class="table-responsive">
                    <table class="table mb-0 table-striped table-hover">
                        <thead>
                            <tr class="userDatatable-header radius-xs">
                                <th>
                                    <span class="userDatatable-title">ID</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">TÊN DANH MỤC</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">NGƯỜI TẠO</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">THỜI GIAN TẠO</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">TRẠNG THÁI</span>
                                </th>
                                <th class="actions">
                                    <span class="userDatatable-title float-end">HÀNH ĐỘNG</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model)
                            {
                                <tr class="category-data-container" data-id="@category.CategoryId" data-name="@category.Name" data-visiable="@category.Status">
                                    <td>@category.CategoryId</td>
                                    <td>
                                        <div class="d-flex">
                                            <div class="userDatatable-inline-title">
                                                <a href="#" class="text-dark fw-500">
                                                    <h6>@category.Name</h6>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject">
                                            @category.CreatedByName
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--priority">
                                            @category.CreatedAt?.ToString("HH:mm - dd/MM/yyyy")
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content d-inline-block">
                                            @if (!category?.Status ?? false)
                                            {
                                                <span class="bg-opacity-danger color-danger rounded-pill userDatatable-content-status">Tạm ẩn</span>
                                            }
                                            else
                                            {
                                                <span class="bg-opacity-success color-success rounded-pill userDatatable-content-status active">
                                                    Hiển
                                                    thị
                                                </span>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                                            @if (category?.Status ?? false)
                                            {
                                                <li>
                                                    <a title="Ẩn danh mục" class="view" data-bs-toggle="modal" data-bs-target="#toogle-visiable-category">
                                                        <i class="uil uil-eye-slash"></i>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a title="Hiển thị danh mục" class="view" data-bs-toggle="modal" data-bs-target="#toogle-visiable-category">
                                                        <i class="uil uil-eye"></i>
                                                    </a>
                                                </li>
                                            }
                                            <li>
                                                <a title="Chỉnh sửa danh mục" class="edit" data-bs-toggle="modal" data-bs-target="#update-category">
                                                    <i class="uil uil-edit"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Xoá danh mục" class="remove" data-bs-toggle="modal" data-bs-target="#delete-category">
                                                    <i class="uil uil-trash-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-end pt-30">
                    <nav class="dm-page ">
                        <ul class="dm-pagination d-flex">
                            <li class="dm-pagination__item">
                                @if (currentPage > 1)
                                {
                                    var prevPage = currentPage - 1;
                                    <a asp-action="Categories" asp-controller="Categories" asp-area="Admin" asp-route-page="@prevPage"
                                       class="dm-pagination__link rounded-pill pagination-control">
                                        <span class="la la-angle-left"></span>
                                    </a>
                                }
                                @for (int i = 1; i <= totalPage; i++)
                                {
                                    var active = i == currentPage ? "active" : "";
                                    <a asp-action="Categories" asp-controller="Categories" asp-area="Admin" asp-route-page="@i"
                                       class="dm-pagination__link rounded-pill @active">
                                        <span class="page-number">@i</span>
                                    </a>
                                }
                                @if (currentPage < totalPage && totalPage > 1)
                                {
                                    var nextPage = currentPage + 1;
                                    <a asp-action="Categories" asp-controller="Categories" asp-area="Admin" asp-route-page="@nextPage"
                                       class="dm-pagination__link rounded-pill pagination-control">
                                        <span class="la la-angle-right"></span>
                                    </a>
                                }
                            </li>
                            <li class="dm-pagination__item">
                                <div class="paging-option">
                                    <form asp-action="Categories" asp-controller="Categories" method="GET" id="page-size-form">
                                        <input type="hidden" name="page" value="@currentPage" />
                                        <select id="change-page-size" class="page-size-select" name="pageSize"
                                                class="page-selection rounded-pill">
                                            <option value="10" selected="@(currentPageSize == 10)">
                                                10 danh mục/trang
                                            </option>
                                            <option value="25" selected="@(currentPageSize == 25)">
                                                25 danh mục/trang
                                            </option>
                                            <option value="50" selected="@(currentPageSize == 50)">
                                                50 danh mục/trang
                                            </option>
                                        </select>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="./ToogleVisiableCategory.cshtml" />
<partial name="./Delete.cshtml" />
<partial name="./Update.cshtml" />
<script>
    document.addEventListener(
        "DOMContentLoaded",
        function () {
            const pageSizeForm = document.getElementById('page-size-form')
            const pageSelection = $('#change-page-size')
            pageSelection.change(function () {
                pageSizeForm.submit()
            })
        },
    )
</script>
@await Html.PartialAsync("./Create.cshtml", new CreateCategory())
@if (TempData["CategoryMessage"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const messageType = '@TempData["Type"]'
            let icon = "";
            switch (messageType) {
                case 'success':
                    icon = 'check-circle';
                    break;
                case 'error':
                    icon = 'times-circle';
                    break;
                case 'warning':
                    icon = 'exclamation-circle';
                    break;
                default:
                    icon = 'circle-info'
            }
            showMessage(messageType, icon, '@TempData["CategoryMessage"]?.ToString()')
        });
    </script>
}